@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.page-container {
    margin: 0px auto;
    width: 1024px;
    height: auto;
}


// mobile
@media (width < 1024px ) {

    .page-container {
        width: 95%;
    }
}