@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.section__section-heading {
    display: flex;
    justify-content: center;
}

.price-toggle {
    margin: 0 0 0 5%;
    height: 68px;
    min-width: 130px;
    background-image: url(./assets/img/text_offer-2-free-months.svg);
    background-repeat: no-repeat;
    background-position: top right;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 23px 0 23px;
}

.section__p {
    font-family: 'Roboto', sans-serif;
}

.section__p--offer-label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 30px;
    vertical-align: middle;
    font-weight: 500;
}

.section__p--selected-payplan {
    color: var.$text-color-focus;
}

.section__p--disabled-payplan {
    color: var.$text-color-default;
}


.section__price-switch {
    width: 57px;
    height: 30px;
    background-color: var.$highlight-color;
    border-radius: 17px;
    margin: 0 29px 0 29px;
    cursor: pointer;
}

.section__switch {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: var.$white;
    position: relative;
    top: 2.5px;
    left: 2.5px;
}