// Colors Background
$highlight-color: #00b289;
$highlight-color-hover: #008e6d;
$highlight-color-background: #dbd9d9;
$white: #fff;

// Colors Border
$border-color-default: #bebebe;

// Colors Text
$text-color-disabled: #939395;
$text-color-default: #4c4d5f;
$text-color-focus: #1a1a21;
